.bigSearch {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: default;

    @include respond(tab-land) {
        justify-content: flex-start;
    }

    &_search {
        transition: all .2s;
        animation: popup .5s;
        height: 6rem;
        width: 55%;
        border-radius: 2.9rem;
        background-color: white;
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @include respond(phone) {
            height: 4rem;
        }

        @include respond(tab-land) {
            margin-top: 25rem;

        }



        svg {
            height: 60%;
            @include respond(phone) {
                height: 50%;
                margin-left: 1rem;
            }

        }
        form {
            height: 80%;
            width: 80%;
            top: 0;
        }

        input {
            top: 0;
            height: 100%;
            width: 100%;
            border: none;
            font-size:2rem;
            font-family: 'Poppins';

            @include respond(phone) {

                width: 80%;
                font-size: 1.2rem;
            }
            

            &:focus {
                outline: none;
            }

        }


        &-exit {
            
            color: black;
            font-weight: 200;
            font-size: 3rem;
            position: relative;
            @include respond(phone) {
                font-size: 2rem;
                margin-right: 1rem;
            }
            &::before {
                content: '';
                width: .1rem;
                background-color: black;
                height: 2.5rem;
                position: absolute;
                left: 0rem;
                transform: translateX(-1rem);
                top: 1.35rem;

                @include respond(phone) {
                    top: .75rem;
                    height: 1.75rem;
                }
            }

        }
    }
}

.searchResult {
    width: 45%;
    text-align: left;
    font-size: 1.6rem;
    border-bottom: 1px solid $color-grey-light-2;

    @include respond(phone) {
        font-size: 1rem;
    }

    p {
        cursor: pointer;
    }

}